<main>
  <section class="part">
    <aside class="left">
      <button [class.active]="showRead" (click)="updateResult()">Read</button>
    </aside>
    <aside class="right">
      <button [class.active]="!showRead" (click)="updateResult()">Write</button>
    </aside>
  </section>
  <section class="content" *ngIf="showRead">
    <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    <p *ngIf="scanResult">Result :
      <span *ngIf="!isHttp"> {{ scanResult }}</span>
      <a class="external" *ngIf="isHttp" [href]="scanResult"> {{ scanResult }}</a>
    </p>
  </section>
  <section class="code" *ngIf="!showRead" id="codePart">
    <aside class="left">
      <div class="wrapper">
        <div>
          <label for="code-data">Qr data</label>
          <input (keyup)="onChange($event)" id="code-data" type="text" placeholder="Qr code data">
        </div>
        <div>
          <label for="">Qr Image</label>
          <input (change)="onImageChange($event)" type="file" accept="image/*">
        </div>
      </div>
      <div class="button">
        <app-button (click)="downloadQrCode()">Download</app-button>
      </div>
    </aside>
    <aside class="right">
      <div id="qrCodeDisplay"></div>
    </aside>
  </section>
</main>