@use "./scss/variables" as *;

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: $navy-color;
  color: $slate-color;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $lightest-slate-color;
  margin: 0px 0px 10px;
  line-height: 1.1;
}

video {
  width: 100% !important;
  height: 100% !important;
  max-height: 400px;
  max-width: 400px;
}

a.external {
  display: inline-block;
  color: $green-color;
  transition: $transition;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0px;
    transform-origin: bottom left;
    transition: transform 0.25s ease;
    background: $green-color;
  }

  &:hover,
  &:focus-visible {
    outline: none;

    &::after {
      transform: scaleX(1);
    }
  }
}

*::selection {
  color: $green-color;
  background-color: $lightest-navy-color
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: $navy-color;
}

*::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid $navy-color;
  border-radius: 10px;
}